/*=============================
=            FONTS            =
=============================*/

@import url('https://fonts.googleapis.com/css?family=Muli|PT+Sans+Narrow|Source+Sans+Pro');
/*font-family: 'Source Sans Pro', sans-serif;
font-family: 'Muli', sans-serif;
font-family: 'PT Sans Narrow', sans-serif;*/


/*=====  End of FONTS  ======*/


body{
	font-family: 'Source Sans Pro', sans-serif !important;
	background-color: #F5F5DC !important;

}

a{	
	text-decoration: none !important;
}


/*==============================
=            COLORS            =
==============================*/

/*Text Colors*/
.color-white {color: #F5F5DC !important; border-color: #F5F5DC;} /* White */
.color-primary-yellow {	color: #F2A900 !important; border-color: #F2A900;} /*Yellow*/
.color-primary-green{	color: #007A33 !important; border-color: #007A33;} /*Green*/



/*BACKGROUNDS*/
.bg-primary-yellow {	background-color: #F2A900 !important; } /*Yellow*/
.bg-primary-green{	background-color: #007A33 !important;} /*Green*/
.bg-color-white {background-color: #F5F5DC !important;} /* White */
/*=====  End of COLORS  ======*/


.a-navbar{
	font-family: 'Source Sans Pro', sans-serif;
}
.a-nav-elements > li > a:hover{
	color: white !important;
}
.a-nav-elements > li > a{
	font-size: 2vh;
}

