/*=============================
=            FONTS            =
=============================*/

@import url('https://fonts.googleapis.com/css?family=Muli|PT+Sans+Narrow|Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Oswald');
/*font-family: 'Source Sans Pro', sans-serif;
font-family: 'Muli', sans-serif;
font-family: 'PT Sans Narrow', sans-serif;
font-family: 'Roboto Condensed', sans-serif;*/


/*=====  End of FONTS  ======*/


body{
	font-family: 'Source Sans Pro', sans-serif !important;
	background-color: #F5F5DC !important;

}

a{	
	text-decoration: none !important;
}

/*=================================
=            FONTS CSS            =
=================================*/

.a-roboto-cond{
	font-family: 'Roboto Condensed', sans-serif;
}
.a-oswald{
	font-family: 'Oswald', sans-serif;
}

/*=====  End of FONTS CSS  ======*/


/*==============================
=            COLORS            =
==============================*/

/*Text Colors*/
.color-black {color: rgba(0,0,0,0.87)  !important; border-color: rgba(0,0,0,0.87);} /* Black */
.color-white {color: #F5F5DC !important; border-color: #F5F5DC;} /* White */
.color-primary-yellow {	color: #F2A900 !important; border-color: #F2A900;} /*Yellow*/
.color-primary-green{	color: #007A33 !important; border-color: #007A33;} /*Green*/
.color-red { color: #f44336  !important; } /* Red */
.color-orange { color: #ff9800  !important; } /* Orange */
.color-pink { color: #FF7C72 !important; } /* Orange */
.color-yellow { color: #FBF38C !important; } /* Yellow */
.color-citrus { color: #A6FF8F !important; } /* Citrus */
.color-green { color: #4CAF50  !important; border-color: #4CAF50 ;} /* Green */
.color-darkgreen { color: #1CE2B2 !important; } /* Darkgreen */
.color-turquoise { color: #5EF3FB !important; } /* Turquoise */
.color-lightblue { color: #61C3FF !important; } /* Lightblue */
.color-blue { color: #5A87FF !important; border-color: #5A87FF} /* Blue */
.color-purple { color: #8453E3 !important; } /* Purple */
.color-lavender { color: #C26EFF !important; } /* Lavender */
.color-pink { color: #FB89FB !important; } /* Pink */ 
.color-white{color: #F5F5DC !important;} /* White */
.color-grey { color: #616161 !important; }
.color-pink-light-2 { color: #f06292   !important; } /* PINK */

/*blockqoute*/
.bq-primary-yellow {border-color: #F2A900;} /*Yellow*/
.bq-primary-green{border-color: #007A33;} /*Green*/

/*BACKGROUNDS*/
.bg-primary-yellow {	background-color: #F2A900 !important; } /*Yellow*/
.bg-primary-green{	background-color: #007A33 !important;} /*Green*/
.bg-color-white {background-color: #F5F5DC !important;} /* White */
.bg-color-black {background-color: rgba(0,0,0,0.87)  !important;} /* Black */
.bg-transparent{ background-color: transparent; }
.bg-color-grey { background-color: #616161 !important; }
.bg-color-red { background-color: #f44336  !important; } /* Red */
.bg-color-orange { background-color: #ff9800  !important; } /* Orange */
.bg-color-pink { background-color: #FF7C72 !important; } /* Orange */
.bg-color-yellow { background-color: #FBF38C !important; } /* Yellow */
.bg-color-citrus { background-color: #A6FF8F !important; } /* Citrus */
.bg-color-green { background-color: #4CAF50  !important; } /* Green */
.bg-color-darkgreen { background-color: #1CE2B2 !important; } /* Darkgreen */
.bg-color-turquoise { background-color: #5EF3FB !important; } /* Turquoise */
.bg-color-lightblue { background-color: #61C3FF !important; } /* Lightblue */
.bg-color-blue { background-color: #5A87FF !important; } /* Blue */
.bg-color-purple { background-color: #8453E3 !important; } /* Purple */
.bg-color-lavender { background-color: #C26EFF !important; } /* Lavender */
.bg-color-pink { background-color: #FB89FB !important; } /* Pink */ 
/*=====  End of COLORS  ======*/



.a-navbar{
	font-family: 'Source Sans Pro', sans-serif;
}
.a-nav-elements > li > a:hover{
	color: white !important;
}
.a-nav-elements > li > a{
	font-size: 2vh;
}
.swal-overlay {
	background-color: rgba(33, 33, 33, 0.97);
}

#subject-section {
	-webkit-animation-duration: 0.38s;
	-webkit-animation-delay: 0s;
}	
#topics-section {
	-webkit-animation-duration: 0.38s;
	-webkit-animation-delay: 0s;
}	

.breadcrumb:before {
	color: #007A33;
}

.breadcrumb, .breadcrumb:last-child {
	color: #007A33;
}
[type="radio"].with-gap + label:before {
	border-radius: 50%;
	border: 2px solid #007A33; 
}
[type="radio"].with-gap:checked + label:before {
	border-radius: 50%;
	border: 2px solid #007A33; 
}

[type="radio"].with-gap:checked + label:after {
	border-radius: 50%;
	border: 2px solid #007A33;
	background-color: #007A33;
	z-index: 0;
	-webkit-transform: scale(.5);
	-moz-transform: scale(.5);
	-ms-transform: scale(.5);
	-o-transform: scale(.5);
	transform: scale(.5); 
}





/*================================
=            Home CSS            =
================================*/

.selected-nav {
	background: rgba(0,48,20,0.4);
}

/*=====  End of Home CSS  ======*/


/*======================================
=            Admin Page Css            =
======================================*/

.nav-admin ul li a{
	color: #212121  !important; 
}

/*=====  End of Admin Page Css  ======*/



/*========================================
=            Landing Page Css            =
========================================*/

.a-icons-landing{
	width: 50%;
}
.a-icons-header{

}

.a-icons-description{
	text-align: justify;
}

#register{
	height: 70vh;
	background: url('../img/background-user.jpg');
	background-size: cover; background-repeat: no-repeat;
	padding-bottom: 0 !important;
	margin-bottom: 0 !important;
}

#trigger_reg > a:hover{
	color: #212121 !important;
}

/*=====  End of Landing Page Css  ======*/


/*===================================
=            Media Query            =
===================================*/

/*@media only screen and (max-width:1280px) {
	#slide-out{
		display: none;
	}
	#menu_side{
		display: none;
	}
	#menu_side_none{
		display: block;
	}
}
@media only screen and (min-width:1281px) {
	#slide-out{
		display: block;
	}
	#menu_side{
		display: none;
	}
	#menu_side_none{
		display: block;
	}
	}*/

	/*=====  End of Media Query  ======*/

