body{
	/* 	font-family: 'Raleway', sans-serif; */
	font-family: 'Montserrat', sans-serif;
	min-height: 100vh;
}

a{	text-decoration: none !important;}

.primary-color-yellow {
	color: #F2A900;
}
.primary-color-green{
	color: #007A33;
}
.primary-bg-yellow {
	background-color: #F2A900;
}
.primary-bg-green{
	background-color: #007A33;
}